footer {
    background-color: #212529;
    color: #FFF;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    padding-left: 5px;
}