@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body {
    height: 100vh;
    max-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.navbar {
    height: 10%;
    min-height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;

    background-color: #212529;
}

.nav-item {
    color: #FFF;
    text-decoration: none;
    font-size: 1.2rem;
}

#main-title {
    margin-left: 15px;
    font-size: 2rem;
}