#injected-content {
    flex-grow: 1;
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding-bottom: 7.5%;
}


.games-title {
    padding-top: 20px;
    color: #FFF;
    text-transform: uppercase;
}

.game-container {
    width: 80%;
    border: 2px solid #c07caf;
    background: #513575;
    color: #FFF;
    border-radius: 5px;
    padding: 5px;
}

.game-title {
    font-size: 1.2rem;
    font-weight: 100;
}

.game-infos {
    padding-top: 10px;
    display: flex;
    gap: 10px;
}

.game-infos img {
    min-width: 150px;
    max-height: 200px;
}

.new-game-title {
    font-size: 2rem;
    text-transform: uppercase;
    color: #FFF;
    margin-top: 30px;
}

.form-element {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 600px;
    margin-top: 15px;
    padding: 5px;

    border: 2px solid #c07caf;
    background: #513575;
    border-radius: 5px;
}


.form-element input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin: 0 auto;
}

input[type=file] {
    background-color: #FFF;
}

.form-element label {
    font-weight: 400;
    color: #FFF;
}

.control-buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.control-buttons button {
    flex-grow: 1;
    border: 2px solid #c07caf;
    background: #513575;
    padding: 12px;
    color: #FFF;
    border-radius: 5px;
    font-size: 16px;
}